<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro-v6@44659d9/css/all.min.css" rel="stylesheet" type="text/css" />
    <script src="../js/jquery.js"></script>
    <link rel="stylesheet" href="../css/index.css">
    <title>Jahir Raihan Joy</title>

    <style>
        #preloader {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #000;
            z-index: 9999;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            font-family: monospace;
            color: #fff;
            opacity: 1;
            transition: opacity 1s ease-in-out;
        }

        #preloader.fade-out {
            opacity: 0;
            pointer-events: none;
        }

        #loading-text {
            margin-top: 20px;
            font-size: 20px;
        }

        #loading-animation {
            font-size: 30px;
        }

        #loading-progress {
            margin-top: 10px;
            font-size: 16px;
        }

        #main-container {
            display: none;
            opacity: 0;
            transition: opacity 1s ease-in-out;
        }

        #main-container.fade-in {
            display: block;
            opacity: 1;
        }
    </style>
</head>
<body>

    <div id="preloader">
        <div id="loading-animation"></div>
        <div id="loading-text">Loading</div>
        <div id="loading-progress">0%</div>
    </div>

    <div id="main-container">

    <div class="cartoon-1 cartoonimg">
        <img src="../img/cartoon1.png" alt="">

    </div>

    <div class="cartoon-2 cartoonimg">
        <img src="../img/cartoon2.png" alt="">

    </div>

    <div class="tree-line1"></div>
    

    <div class="profile-intro centerized-content">

        <div class="p-i-container">
            <div class="p-i-left">

                <div class="p-i-left-container">
                    <img src="../img/joy.jpg" alt="">
                </div>
            
            </div>

            <div class="p-i-right">

                <div class="p-i-right-container">

                    <div class="title">

                        <p>Jahir Raihan, <span>G.a.b.b.a.r</span></p>

                    </div>

                    <div class="links">

                        <a href="mailto: raihandevbd@gmail.com">
                            <i class="fas fa-envelope"></i>
                            <p>raihandevbd@gmail.com</p>
                        </a>

                        <a href="#">
                            <i class="fas fa-user"></i>
                            <p>raihanjoy@raihanjoy.com</p>
                        </a>

                        <a href="https://github.com/jahir-raihan">
                            <i class="fab fa-github"></i>
                            <p>github.com/jahir-raihan</p>
                        </a>

                        <a href="resume.html">
                            <i class="fas fa-list-timeline"></i>
                            <p>resume</p>
                        </a>

                    </div>

                    <div class="bio">
                        <p>Web Developer with a demonstrated skill set building Web application using
                            different technology stack. Skilled in Python, Django, Django-Rest-Framework Html, Css, Javascript, and many more side technologies.
                            Specialized in BackEnd development using Django. Studying from Compact Polytechnic Institute in Computer Science and
                            Technology subject.
                    
                            </p>
                    </div>
                
                </div>

            </div>

            <div class="tree-line2"></div>
        </div>

    </div>

    <div class="m-wrappeer">
        
        <div class="mondrianish"></div>
        
        <div class="tree-line3"></div>
        
   </div>

    <div class="experience-projects centerized-content">

        <div class="e-p-container">
            <div class="e-p-wrapper">
                <p class="section-title">Experience | Projects</p>
            
                <div class="experience-project">

                    <div class="project-or-company-image">
                        <img src="../img/dummay-image.webp" alt="">
                    </div>

                    <div class="project-or-company-work-details">
                        <a href="#" class="link">Project Link</a>

                        <div class="title">Project or Experience Title</div>

                        <p class="project-or-work-details">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            Enim necessitatibus deserunt sunt ea amet, repudiandae 
                            harum sint cum, tempora non eveniet dolorum sequi a 
                            perspiciatis! Fugit labore enim impedit quo rem hic numquam,
                            adipisci modi et architecto esse magnam, suscipit rerum
                            reprehenderit, nesciunt voluptates porro earum aliquam 
                            accusamus ratione qui voluptate eligendi nemo? Commodi 
                            iusto expedita, mollitia modi labore dolorem.
                        </p>
                    </div>

                </div>

                <div class="experience-project">

                    <div class="project-or-company-image">
                        <img src="../img/dummay-image.webp" alt="">
                    </div>

                    <div class="project-or-company-work-details">
                        <a href="#" class="link">Project Link</a>

                        <div class="title">Project or Experience Title</div>

                        <p class="project-or-work-details">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            Enim necessitatibus deserunt sunt ea amet, repudiandae 
                            harum sint cum, tempora non eveniet dolorum sequi a 
                            perspiciatis! Fugit labore enim impedit quo rem hic numquam,
                            adipisci modi et architecto esse magnam, suscipit rerum
                            reprehenderit, nesciunt voluptates porro earum aliquam 
                            accusamus ratione qui voluptate eligendi nemo? Commodi 
                            iusto expedita, mollitia modi labore dolorem.
                        </p>
                    </div>

                </div>

                
            </div>
            <div class="tree-line4"></div>
            <div class="tree-line2 d-none"></div>
        </div>
       

    </div>

    <div class="m-wrappeer">   
        <div class="mondrianish"></div>

        <div class="tree-line3 d-none"></div>
   </div>

   

    <div class="side-projects centerized-content">

        <div class="s-p-container">

            <div class="s-p-wrapper">

            


                <div class="section-title">Some of my projects on the web : </div>
                
                <div class="highlight-projects">

                    <div class="project">

                        <div class="project-thumbnail">
                            <img src="../img/dummay-image.webp" alt="">
                        </div>

                        <div class="details">
                            <a href="#" class="link">Project Link</a>
                            <p class="project-details">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem ipsam nesciunt, omnis,
                                rerum perferendis, commodi illo blanditiis ad ducimus voluptate nobis deserunt dolor natus labore consequatur.
                            </p>
                        </div>
                    </div>

                    <div class="project">

                        <div class="project-thumbnail">
                            <img src="../img/dummay-image.webp" alt="">
                        </div>

                        <div class="details">
                            <a href="#" class="link">Project Link</a>
                            <p class="project-details">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem ipsam nesciunt, omnis,
                                rerum perferendis, commodi illo blanditiis ad ducimus voluptate nobis deserunt dolor natus labore consequatur.
                            </p>
                        </div>

                    </div>
                    
                    <div class="project">

                        <div class="project-thumbnail">
                            <img src="../img/dummay-image.webp" alt="">
                        </div>

                        <div class="details">
                            <a href="#" class="link">Project Link</a>
                            <p class="project-details">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem ipsam nesciunt, omnis,
                                rerum perferendis, commodi illo blanditiis ad ducimus voluptate nobis deserunt dolor natus labore consequatur.
                            </p>
                        </div>

                    </div>

                    <div class="project">

                        <div class="project-thumbnail">
                            <img src="../img/dummay-image.webp" alt="">
                        </div>

                        <div class="details">
                            <a href="#" class="link">Project Link</a>
                            <p class="project-details">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem ipsam nesciunt, omnis,
                                rerum perferendis, commodi illo blanditiis ad ducimus voluptate nobis deserunt dolor natus labore consequatur.
                            </p>
                        </div>

                    </div>


                </div>

                <div class="also-projects">
                    <p class="title">Also : </p>
                    
                    <div>
                        <a href="#" class="p-l0">Project</a> |
                        <a href="#">Lorem ipsum dolor sit.</a> |
                        <a href="#">Lorem ipsum dolor sit amet.</a> 
                    </div>

                    <div>
                        <a href="#" class="p-l0">Lorem, ipsum dolor.</a> |
                        <a href="#">Lorem ipsum dolor sit amet consectetur.</a> 
                    </div>
                    
                    <div>
                        <a href="#" class="p-l0">Project</a> |
                        <a href="#">Lorem, ipsum.</a> |
                        <a href="#">Lorem ipsum dolor sit.</a> 
                    </div>
                    
                    
                    

                </div>

            </div>

            <div class="tree-line5"></div>
            <div class="tree-line6"></div>
            <div class="tree-line2 d-none"></div>


        </div>

    </div>

    <div class="m-wrappeer m-1">
        <div class="m-1-wrapper">
            <div class="mondrianish"></div>
        </div>
        <div class="tree-line7"></div>
        <div class="tree-line8"></div>
        

    </div>
    
   

    <div class="quote centerized-content">

        <div class="quote-container">

            <div class="q-wrapper">
                 <div class="line"></div>

                <div class="quote-text">
                    <p>&ldquo; Amazing human mind. He can't even say what he wants . He himself can never give the true answer of what is his happiness and what is his unhappiness. &rdquo;  <span> -- Zahir Raihan</span></p>
                </div>

                <div class="line"></div>
            </div>

           
        </div>
    </div>

    </div>

    <script>
        window.onload = function() {
            const loader = document.getElementById('preloader');
            const content = document.getElementById('main-container');
            const animation = document.getElementById('loading-animation');
            const progress = document.getElementById('loading-progress');
            const animationFrames = ['/', '-', '\\', '|'];
            let percent = 0;
            let animationFrameIndex = 0;

            function updateProgress() {
                percent += 1;
                if (percent >= 100 || document.readyState === 'complete') {
                    loader.classList.add('fade-out');
                    content.classList.add('fade-in');
                } else {
                    setTimeout(updateProgress, 20);
                }
                

                if (percent < 100 && percent % 5 === 0) {
                    animation.innerText = animationFrames[animationFrameIndex];
                    animationFrameIndex = (animationFrameIndex + 1) % animationFrames.length;
                    progress.innerText = `${percent}%`;
                }

                                
            }

            setTimeout(updateProgress, 20);
        };
    </script>
    
    <script src="../js/index.js"> </script>
</body>
</html>