<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro-v6@44659d9/css/all.min.css" rel="stylesheet" type="text/css" />
    <script src="../js/jquery.js"></script>
    <link rel="stylesheet" href="../css/index.css">
    <title>Jahir Raihan Joy</title>
</head>
<body>

    <div class="cartoon-1 cartoonimg">
        <img src="../img/pngegg (2).png" alt="">

    </div>

    <div class="cartoon-2 cartoonimg">
        <img src="../img/pngegg (4).png" alt="">

    </div>

    <div class="tree-line1"></div>
    

    <div class="profile-intro centerized-content">

        <div class="p-i-container">
            <div class="p-i-left">

                <div class="p-i-left-container">
                    <img src="../img/joy.jpg" alt="">
                </div>
            
            </div>

            <div class="p-i-right">

                <div class="p-i-right-container">

                    <div class="title">

                        <p>Jahir Raihan, <span>G.a.b.b.a.r</span></p>

                    </div>

                    <div class="links">

                        <a href="mailto: raihandevbd@gmail.com">
                            <i class="fas fa-envelope"></i>
                            <p>raihandevbd@gmail.com</p>
                        </a>

                        <a href="#">
                            <i class="fas fa-user"></i>
                            <p>raihanjoy@raihanjoy.com</p>
                        </a>

                        <a href="https://github.com/jahir-raihan">
                            <i class="fab fa-github"></i>
                            <p>github.com/jahir-raihan</p>
                        </a>

                        <a href="#">
                            <i class="fas fa-list-timeline"></i>
                            <p>resume</p>
                        </a>

                    </div>

                    <div class="bio">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis labore quo nostrum autem.
                            Minima debitis veritatis nulla perspiciatis voluptate, enim sequi excepturi nemo optio 
                            aspernatur voluptatem repellat unde! Sunt necessitatibus corrupti vitae facere. Perferendis,
                            nostrum. Perspiciatis placeat similique adipisci eos odit non provident rerum? Ut cupiditate 
                            minus dignissimos consectetur mollitia sapiente asperiores illo aliquid. Quod cumque sequi
                            culpa ut assumenda fuga quam quidem similique error et ullam fugiat nesciunt officiis omnis,
                    
                            </p>
                    </div>
                
                </div>

            </div>

            <div class="tree-line2"></div>
        </div>

    </div>

    <div class="m-wrappeer">
        
        <div class="mondrianish"></div>
        
        <div class="tree-line3"></div>
        
   </div>

    <div class="experience-projects centerized-content">

        <div class="e-p-container">
            <div class="e-p-wrapper">
                <p class="section-title">Experience | Projects</p>
            
                <div class="experience-project">

                    <div class="project-or-company-image">
                        <img src="../img/dummay-image.webp" alt="">
                    </div>

                    <div class="project-or-company-work-details">
                        <a href="#" class="link">Project Link</a>

                        <div class="title">Project or Experience Title</div>

                        <p class="project-or-work-details">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            Enim necessitatibus deserunt sunt ea amet, repudiandae 
                            harum sint cum, tempora non eveniet dolorum sequi a 
                            perspiciatis! Fugit labore enim impedit quo rem hic numquam,
                            adipisci modi et architecto esse magnam, suscipit rerum
                            reprehenderit, nesciunt voluptates porro earum aliquam 
                            accusamus ratione qui voluptate eligendi nemo? Commodi 
                            iusto expedita, mollitia modi labore dolorem.
                        </p>
                    </div>

                </div>

                <div class="experience-project">

                    <div class="project-or-company-image">
                        <img src="../img/dummay-image.webp" alt="">
                    </div>

                    <div class="project-or-company-work-details">
                        <a href="#" class="link">Project Link</a>

                        <div class="title">Project or Experience Title</div>

                        <p class="project-or-work-details">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            Enim necessitatibus deserunt sunt ea amet, repudiandae 
                            harum sint cum, tempora non eveniet dolorum sequi a 
                            perspiciatis! Fugit labore enim impedit quo rem hic numquam,
                            adipisci modi et architecto esse magnam, suscipit rerum
                            reprehenderit, nesciunt voluptates porro earum aliquam 
                            accusamus ratione qui voluptate eligendi nemo? Commodi 
                            iusto expedita, mollitia modi labore dolorem.
                        </p>
                    </div>

                </div>

                
            </div>
            <div class="tree-line4"></div>
            <div class="tree-line2 d-none"></div>
        </div>
       

    </div>

    <div class="m-wrappeer">   
        <div class="mondrianish"></div>

        <div class="tree-line3 d-none"></div>
   </div>

   

    <div class="side-projects centerized-content">

        <div class="s-p-container">

            <div class="s-p-wrapper">

            


                <div class="section-title">Some of my projects on the web : </div>
                
                <div class="highlight-projects">

                    <div class="project">

                        <div class="project-thumbnail">
                            <img src="../img/dummay-image.webp" alt="">
                        </div>

                        <div class="details">
                            <a href="#" class="link">Project Link</a>
                            <p class="project-details">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem ipsam nesciunt, omnis,
                                rerum perferendis, commodi illo blanditiis ad ducimus voluptate nobis deserunt dolor natus labore consequatur.
                            </p>
                        </div>
                    </div>

                    <div class="project">

                        <div class="project-thumbnail">
                            <img src="../img/dummay-image.webp" alt="">
                        </div>

                        <div class="details">
                            <a href="#" class="link">Project Link</a>
                            <p class="project-details">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem ipsam nesciunt, omnis,
                                rerum perferendis, commodi illo blanditiis ad ducimus voluptate nobis deserunt dolor natus labore consequatur.
                            </p>
                        </div>

                    </div>
                    
                    <div class="project">

                        <div class="project-thumbnail">
                            <img src="../img/dummay-image.webp" alt="">
                        </div>

                        <div class="details">
                            <a href="#" class="link">Project Link</a>
                            <p class="project-details">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem ipsam nesciunt, omnis,
                                rerum perferendis, commodi illo blanditiis ad ducimus voluptate nobis deserunt dolor natus labore consequatur.
                            </p>
                        </div>

                    </div>

                    <div class="project">

                        <div class="project-thumbnail">
                            <img src="../img/dummay-image.webp" alt="">
                        </div>

                        <div class="details">
                            <a href="#" class="link">Project Link</a>
                            <p class="project-details">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem ipsam nesciunt, omnis,
                                rerum perferendis, commodi illo blanditiis ad ducimus voluptate nobis deserunt dolor natus labore consequatur.
                            </p>
                        </div>

                    </div>


                </div>

                <div class="also-projects">
                    <p class="title">Also : </p>
                    
                    <div>
                        <a href="#" class="p-l0">Project</a> |
                        <a href="#">Lorem ipsum dolor sit.</a> |
                        <a href="#">Lorem ipsum dolor sit amet.</a> 
                    </div>

                    <div>
                        <a href="#" class="p-l0">Lorem, ipsum dolor.</a> |
                        <a href="#">Lorem ipsum dolor sit amet consectetur.</a> 
                    </div>
                    
                    <div>
                        <a href="#" class="p-l0">Project</a> |
                        <a href="#">Lorem, ipsum.</a> |
                        <a href="#">Lorem ipsum dolor sit.</a> 
                    </div>
                    
                    
                    

                </div>

            </div>

            <div class="tree-line5"></div>
            <div class="tree-line6"></div>
            <div class="tree-line2 d-none"></div>


        </div>

    </div>

    <div class="m-wrappeer m-1">
        <div class="m-1-wrapper">
            <div class="mondrianish"></div>
        </div>
        <div class="tree-line7"></div>
        <div class="tree-line8"></div>
        

    </div>
    
   

    <div class="quote centerized-content">

        <div class="quote-container">

            <div class="q-wrapper">
                 <div class="line"></div>

                <div class="quote-text">
                    <p>&ldquo; Amazing human mind. He can't even say what he wants . He himself can never give the true answer of what is his happiness and what is his unhappiness. &rdquo;  <span> -- Zahir Raihan</span></p>
                </div>

                <div class="line"></div>
            </div>

           
        </div>
    </div>
    
    <script src="../js/index.js"> </script>
</body>
</html>