@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family:'Poppins', sans-serif;
    button{
        cursor: pointer;
    }

    image-rendering: auto;
    
}
body{
    background:#f7f7f7;
    overflow-x:hidden;
}
.mondrianish .line {
    border: 4px solid white;
}
.mondrianish{
    opacity: .6;
}
:root{
    --border:.5px solid rgba(0, 0, 0, 0.142);
}

.profile-intro{
    padding-top:10em;
    display:flex;
    justify-content: center;
    
    
    .p-i-container{
        width:1000px;
        margin:auto;
        display: flex;
        
        

        .p-i-left{
            margin-right:2em;
            height:450px;

            .p-i-left-container{
                height:100%;
                transition-duration: .5s;
            }
            img{
                border:1px solid black;
                height:100%;
            }
        }

        .p-i-right{
            
            .title{
                font-size:40px;
                opacity: .8;
                span{
                    font-size:28px;
                    opacity: .8;
                }
            }

            .links{
                margin:1em 0;

                a{
                    display: flex;
                    align-items:center;
                    text-decoration: underline;
                    color:#52698c;
                    width:fit-content;
                    margin-bottom: .5em;
                    
                    i{
                        font-size:18px;
                    }
                    p{
                        text-decoration: underline;
                        margin-left:.5em;
                    }
                }
            }
            .bio{
                width:98%;
                opacity: .9;
            }
        }
    }

    
}

.experience-projects{
    padding-top:1em;
    .e-p-container{
        width:1000px;
        margin:auto;
        
        .section-title{
            font-size:24px;
            margin-bottom: 2em;
        }
    }

    .experience-project{
        margin-bottom: 2em;
        display: flex;

        .project-or-company-image{
            margin-right:2em;
            img{
                width:100px;
                border:var(--border);
            }
        }
        .project-or-company-work-details{

            .link{
                color:black;
                opacity: .8;
                font-size:23px;
                margin-bottom: .3em;
                display: block;
            }

            .title{
                font-weight: 500;
                margin-bottom: .3em;
            }

            .project-or-work-details{
                opacity: .7;
            }
        }
    }
}

.side-projects{

    .s-p-container{
        width:1000px;
        margin:auto;
        .section-title{
            font-size:18px;
            font-weight: 500;
            margin-bottom: 2em;

        }

        .highlight-projects{
            display: grid;
            grid-template-columns: 49% 49%;
            gap:1%;
            margin-bottom: 2em;
            .project-thumbnail{
                margin-right:2em;
                img{
                    width:60px;
                    border:var(--border);
                }
            }
            .details{

                .link{
                    color:black;
                    font-size:22px;
                    opacity: .8;
                    display: block;
                    margin-bottom:.3em;
                }

                .project-details{
                    opacity: .7;
                }

            }
            .project{
                display: flex;
                
                margin-bottom: 1em;

            }

        }

        .also-projects{
            width:80%;
            margin-bottom:2em;
            .title{
                font-size:18px;
                opacity: .8;
                margin-bottom: 1em;
            }
            div{
                color:rgb(3, 45, 81);
                margin-bottom: .5em;
            }

            a{
                color:rgb(3, 45, 81);
                opacity:.8;
                padding:.5em .5em .5em .5em;
                font-size:18px;
                font-weight: 500;

            }
            .p-l0{
                padding-left:0;
            }
        }
    }
}

.quote{
    margin:3em 0 5em 0;
    .quote-container{
        width: 1000px;
        margin:auto;

        .quote-text{
            margin:1em 0;
            padding:1em;

            p{
                font-weight: 300;
                opacity: .8;
                span{
                    font-weight: 500;
                }
            }
        }
        
    }

}
.line{
    border-top:var(--border);
    width:100%;
}

// Media Queries

@media only screen and (max-width:1100px){

    .profile-intro{

        .p-i-container{
            width:800px;
            margin:auto;

            .p-i-left{

                .p-i-left-container{
                    transition-duration: .5s;
                    height:70%;
                    img{
                        transition-duration: .5s;
                        
                    }
                }
            }
        }
       
    }

    .experience-projects{

        .e-p-container{
            width:800px;
            margin:auto;
        }
        

        
    }

    .side-projects{

        .s-p-container{
            width:800px;
            margin:auto;
        }
        

        
    }

    .quote{

        .quote-container{
            width:800px;
            margin:auto;
        }

    }
}

@media only screen and (max-width:850px){

    .profile-intro{

        .p-i-container{
            width:700px;
            margin:auto;

            .p-i-left{

                .p-i-left-container{
                    transition-duration: .5s;
                    height:50%;
                    img{
                        transition-duration: .5s;
                        
                    }
                }
            }
        }
       
    }

    .experience-projects{

        .e-p-container{
            width:700px;
            margin:auto;
        }
        

        
    }

    .side-projects{

        .s-p-container{
            width:700px;
            margin:auto;
        }
    }

    .also-projects{
        width:100% !important;
    }

    .quote{

        .quote-container{
            width:700px;
            margin:auto;
        }
    }
}

@media only screen and (max-width:775px){

    .profile-intro{
        padding-top:2em;
        .p-i-container{
            
            width:90%;
            display: grid;
            margin:auto;
            grid-template-columns: 100% !important;

            .p-i-left{
                margin-right:0;
                margin-bottom: 1em;
            }
            .p-i-left-container{
                height:100% !important;
                img{
                    width:100%;
                    object-fit: cover;
                    
                }
            }
        }
       
    }

    .experience-projects{

        .e-p-container{
            width:90%;
            margin:auto;

            .experience-project{

                .project-or-company-image{
                    margin-right:1em;
                    img{
                        width:60px;
                    }
                }
                .project-or-company-work-details{
                    a{
                        font-size:15px;
                    }
                    p, .title{
                        font-size:13px ;
                    }
                }
            }
        }
        

        
    }

    .side-projects{

        .s-p-container{
            width:90%;
            margin:auto;

            .highlight-projects{
                
                grid-template-columns: 100% !important;
                a{
                    font-size:15px !important;
                }
                p, .title{
                    font-size:13px;
                }
            }

            .also-projects{
                a{
                    font-size:14px;
                }
            }
        }

    }

    .also-projects{
        width:100% !important;
    }

    .quote{

        .quote-container{
            width:90%;
            margin:auto;
        }

    }



}
